/* ------------------------------------------------------------------------------
*
*  # Panels component
*
*  Overrides for panels bootstrap component
*
*  Version: 1.1
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */
.panel {
  margin-bottom: 20px;
  border-color: #ddd;
  color: #333333;
}
.panel.has-scroll {
  max-width: 100%;
  overflow-x: auto;
}
.panel.has-bg-image {
  background-image: url(../images/backgrounds/panel_bg.png);
}
.panel-flat > .panel-heading + .table,
.panel-flat > .panel-heading + .table-responsive {
  border-top: 1px solid #ddd;
}
.panel[class*=bg-] > .panel-heading {
  border-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .panel[class*=bg-] > .panel-heading {
    background-color: inherit;
  }
}
.panel[class*=bg-].panel-flat > .panel-heading {
  border-bottom-color: transparent;
}
.panel[class*=bg-] .panel-title {
  color: #fff;
}
.panel[class*=bg-] .table thead td,
.panel[class*=bg-] .table tbody td,
.panel[class*=bg-] .table thead th,
.panel[class*=bg-] .table tbody th {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel[class*=bg-] .text-muted,
.panel[class*=bg-] .help-block,
.panel[class*=bg-] .help-inline {
  color: rgba(255, 255, 255, 0.8);
}
.panel[class*=border-top-] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel[class*=border-bottom-] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel[class*=border-left-] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.panel[class*=border-right-] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.panel-body {
  position: relative;
}
.panel-flat > .panel-heading + .panel-body {
  padding-top: 0;
}
.panel-body + .panel-body,
.panel-body + .table,
.panel-body + .table-responsive,
.panel-body.has-top-border {
  border-top: 1px solid #ddd;
}
.panel[class*=bg-] .panel-body + .panel-body,
.panel[class*=bg-] .panel-body + .table,
.panel[class*=bg-] .panel-body + .table-responsive,
.panel[class*=bg-] .panel-body.has-top-border {
  border-top-color: rgba(255, 255, 255, 0.5);
}
.panel-body-accent {
  background-color: #fcfcfc;
}
.panel[class*=bg-] .panel-body-accent {
  background-color: rgba(0, 0, 0, 0.1);
}
.panel-heading {
  position: relative;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-bordered > .panel-heading {
  margin: 0;
}
.panel-flat > .panel-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.panel-flat > .panel-heading > .panel-title {
  margin-top: 2px;
  margin-bottom: 2px;
}
.panel-flat[class*=bg-] > .panel-heading {
  background-color: inherit;
}
.panel-heading[class*=bg-],
.panel-primary .panel-heading,
.panel-danger .panel-heading,
.panel-success .panel-heading,
.panel-warning .panel-heading,
.panel-info .panel-heading {
  margin: -1px -1px 0 -1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-white > .panel-heading {
  background-color: #fff;
  border-bottom-color: #ddd;
}
.panel-title {
  position: relative;
  font-size: 13px;
}
.panel-title.text-size-mini {
  font-size: 11px;
}
.panel-title.text-size-small {
  font-size: 12px;
}
.panel-title.text-size-large {
  font-size: 14px;
}
a.panel-title {
  display: block;
}
.panel-title img {
  max-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.panel-title > small:not(.display-block),
.panel-title > .small:not(.display-block) {
  margin-left: 5px;
}
h1.panel-title,
.h1.panel-title {
  font-size: 25px;
}
h2.panel-title,
.h2.panel-title {
  font-size: 23px;
}
h3.panel-title,
.h3.panel-title {
  font-size: 21px;
}
h4.panel-title,
.h4.panel-title {
  font-size: 19px;
}
h5.panel-title,
.h5.panel-title {
  font-size: 17px;
}
h6.panel-title,
.h6.panel-title {
  font-size: 15px;
}
.icons-list a[data-action] {
  vertical-align: middle;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.icons-list a[data-action]:after {
  font-family: 'icomoon';
  font-size: 16px;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icons-list a[data-action="collapse"]:after {
  content: '\e9c1';
}
.icons-list a[data-action="reload"]:after {
  content: '\e9fb';
}
.icons-list a[data-action="close"]:after {
  content: '\e9b6';
}
.icons-list a[data-action="move"]:after {
  content: '\e986';
}
.icons-list a[data-action="modal"]:after {
  content: '\e9eb';
}
.panel-footer {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-footer:after {
  content: '';
  display: table;
  clear: both;
}
.panel-footer-transparent {
  background-color: transparent;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 12px;
}
.panel-footer-condensed {
  padding-top: 2px;
  padding-bottom: 2px;
}
.panel-footer-bordered {
  background-color: #fff;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.panel-group-control .panel-title > a {
  padding-left: 26px;
  display: inline-block;
}
.panel-group-control .panel-title > a:before {
  content: '\e9b7';
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel-group-control .panel-title > a.collapsed:before {
  content: '\e9b8';
}
.panel-group-control.panel-group-control-right .panel-title > a {
  padding-left: 0;
  padding-right: 26px;
}
.panel-group-control.panel-group-control-right .panel-title > a:before {
  left: auto;
  right: 0;
}
.panel-primary {
  border-color: #ddd;
}
.panel-primary.panel-bordered {
  border-color: #2196F3;
}
.panel-success {
  border-color: #ddd;
}
.panel-success.panel-bordered {
  border-color: #4CAF50;
}
.panel-info {
  border-color: #ddd;
}
.panel-info.panel-bordered {
  border-color: #00BCD4;
}
.panel-warning {
  border-color: #ddd;
}
.panel-warning.panel-bordered {
  border-color: #FF5722;
}
.panel-danger {
  border-color: #ddd;
}
.panel-danger.panel-bordered {
  border-color: #F44336;
}
